<bit-simple-dialog>
  <div bitDialogIcon>
    <i class="bwi bwi-shield bwi-3x" aria-hidden="true"></i>
  </div>
  <div bitDialogTitle>myWebVault</div>
  <div bitDialogContent>
    <p>{{ "mywebvaultAttribution" | i18n }}</p>
    <p>&copy; Bitwarden Inc. 2015-{{ year }}</p>

    <div #version>
      <p>{{ "version" | i18n }}: {{ version$ | async }}</p>
      <p>SDK: {{ sdkVersion$ | async }}</p>
      <ng-container *ngIf="data$ | async as data">
        <p>
          {{ "serverVersion" | i18n }}: {{ data.serverConfig?.version }}
          <span *ngIf="!data.serverConfig.isValid()">
            ({{ "lastSeenOn" | i18n: (data.serverConfig.utcDate | date: "mediumDate") }})
          </span>
        </p>
      </ng-container>
    </div>
  </div>
  <ng-container bitDialogFooter>
    <button bitButton bitDialogClose buttonType="primary" type="button">
      {{ "close" | i18n }}
    </button>
    <button bitButton type="button" (click)="copyVersion()">
      {{ "copy" | i18n }}
    </button>
  </ng-container>
</bit-simple-dialog>
